:root {
    --border-radius: 4px;
}

.komad {
    /* border: 1px solid black; */
    background: #3494E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EC6EAD, #3494E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

body {
    color: rgb(255, 255, 255);
    margin: 0;
    /* background-image: url("back.jpg"); */
    background-color: #111;
    background-size: cover;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 80, 160);
}

label {
    display: block;
}

input,
button,
select,
textarea {
    color: rgb(0, 0, 0);
    padding: 0.4em;
    font-family: inherit;
    font-size: inherit;
    border: 0 solid rgb(0, 0, 0);
    border-radius: var(--border-radius);
    background: rgb(255, 255, 255);
    opacity: 0.7;
}


/* input {
    border: none;
    background: #222;
    color: white;
    align-items: baseline;
} */

input:disabled {
    color: #ccc;
}

button {
    color: #333;
    background-color: #f4f4f4;
    outline: none;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    background-color: #ddd;
}

button:focus {
    border-color: #666;
}